
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    height: 100vh;
    background-color: #f4f6fb;
    overflow-y: auto;
    margin: 0;
  }
  
 
  .container {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100vh;
  }
  
  /* Sidebar */

  .sidebar {
    background-color: white;
    color: white;
    padding: 1.5rem 0 1.5rem 0; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .sidebar h4 {
    color: #828FA3;
    margin-bottom: 1rem;
    font-size: 12px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    letter-spacing: 2.4px;
    margin-left: 32px;
    width: 123px;
    height: 15px;
    margin-bottom: 19px;
  }
  .logo-img {
    width: 152.23px;
    height: 25.22px; 
    margin-top:32.78px;
    margin-bottom: 54px;
    margin-left: 34px;
  }
  .board-button {
  background-color: #635FC7;
  border: none;
  color: white;
  padding: 14px 106px 15px 64px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  width: 276px;
  height: 48px;
  margin: 0; 
  border-radius: 0px 24px 24px 0px;;
  }
  
  /*Header */

  .header {
    padding: 1.5rem;
    background-color: white;
    border-bottom: 1px solid #ddd;
  }
  
  .header h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    width: 169px;
    height: 30px;
    margin-top: 29px;
    margin-left: 24px;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
  /*Column */

  .columns-section {
    display: flex;
    gap: 1.5rem;
    padding: 2rem;
    height: 100%;
  }
  
  .column {
    padding: 1rem;
    border-radius: 12px;
    min-width: 280px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  
  .column-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .column-header h4 {
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 2.4px;
    font-weight: 700;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #828FA3;
  }

 
  /*Tasks */

  .tasks {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  
  .task {
    background-color: white;
    width: 280px;
    height: 60px;
    padding: 20px;
    border-radius: 8px;
    font-size: 15px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    line-height: 100%;
    box-shadow: 0px 4px 6px 0px #364E7E1A;
    cursor: pointer;
    margin-bottom: 20px;

  }
  
  /*Status Dots */

  .todo-dot,.doing-dot,.done-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
  }
  
  .todo-dot {
    background-color: #49C4E5;
  }
  
  .doing-dot {
    background-color: #8471F2;
  }
  
  .done-dot {
    background-color: #67E2AE;
  }

  /* Modal */
  .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 35px 35px 35px 35px;
  width: 479px;
  height:479px;
  border-radius: 6px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.modal-header h3 {
  font-size: 20px;
  font-weight: 700;
}

.close-button {
  font-size: 24px;
  cursor: pointer;
  font-weight: bold;
  color: red;
}

.modal-body label {
  display: block;
  margin: 0.5rem 0 0.25rem;
  font-weight: 600;
  font-size: 14px;
  color: #333;
}

.modal-body input,
.modal-body textarea,
.modal-body select {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  font-size: 14px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  padding: 35px 0 0 0;
}

.save-btn {
  background-color: #635fc7;
  color: white;
  border: none;
  width: 200px;
  height:40px;
  padding: 0.6rem 1.2rem;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
}

.delete-btn {
  background-color: #ea5555;
  color: white;
  border: none;
  width:200px;
  height:40px;
  padding: 0.6rem 1.2rem;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
}


.hidden {
  display: none;
}



  /* Media query  */

  @media (max-width: 768px) {
    .container {
      grid-template-columns: 1fr; 
    }
  
    .sidebar {
      display: none; 
    }
  
    .columns-section {
      flex-direction: column;
    }
  
    .column {
      width: 100%;
      margin-bottom: -2em;
    
    }
    .task {
      width: 100%;
      margin-bottom: 20px;
    }
/* Modal media query */
    .modal {
    width: 90%;
    height: auto;
    padding: 25px;
    border-radius: 6px;
  }

  .modal-footer {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding-top: 1.5rem;
  }

  .save-btn,
  .delete-btn {
    width: 100%;
    max-width: 100%;
    height: 45px;
    border-radius: 20px;
  }
  }

 
  